body{
    font-family: "Raleway", sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    
}
.bgimg {
    background-image: url("/images/pexels-jplenio-1103970.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;

}
.box {
  width: 90%;
  max-width: 500px;
  margin-bottom: 10px;
  background-color: #ffffffbf;
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.7);
}
.first{
    
    margin-top: 5%;
}

button {
  font-family: inherit;
  width: 60px;
  height: 40px;
  background-color: #00000034;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
  
  
  
.border-bottom{
  border-bottom: 1px solid #4a4a4aae;
}
.item-row {
    display: flex;
    min-height: 50px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;

}
    
.item-row p {
    
    margin-left: 25px;
}
.task-checkbox:checked + .task-text {
    text-decoration: line-through;
    color: gray;
  }
.task-checkbox{
    height: 18px;
    width: 18px;
}

h4{
  color: red;
  
}

input[type="text"],
select {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}


.low{
  color: green;
}
.medium{
  color: yellow;
}
.high{
  color: red;
}

.del_todo{
  margin-left: 10px;
  align-items: center;
  width: auto;
  height: auto;
}

h1{
  margin-bottom: 30px;
}

.submit{
  margin-top: 10px;
}
.edit{
  height: auto;
  width: auto;
  margin-left: 20px;
}

@media only screen and (max-width: 450px) {
  .box{
      width: 100%;
      max-width: none;
      min-width: 350px;
  }
}